<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
   
</head>
<body>
    <%- include('../partials/header_nav') %>
    <div class="container">
        <div class="row">
          <% 
          stories.forEach(story => {
            %>
  
            <div class="col-lg-4 d-flex justify-content-center">
              <div class="card">
                <img class="img-card" src="<%= story.img %>" alt="">
                <div class="card-info">
                  <h2><%= story.title %></h2>
                  <p><%= story.description %></p>
                  <a class="button" href="#" target="_blank">Cuento y análisis</a>
                </div>
              </div>
            </div>
            <%
          });
          %>
          
        </div>
    </div>
    <%- include('../partials/footer') %>
          
</body>
</html>